:root{
  --primary-color: Whitesmoke;
  --secondary-color: #0ff;
  --tertiary-color: #6c757d;
  --background: #3e5c76;
  --musicButton: #7209b7;
  --musicButtonGlow: #B450F7 
  }


  .break{
    margin-top: 20px;

  }


  /* background controller*/

  *{
    background-color: var(--background);
  }

  .cardflex{
    background-color: transparent !important;
  }

  .aboutMeCardText{
    background-color: transparent;
  }

  .music{
    background-color: transparent;
  }

  .buttonflex{
    background-color: transparent;
  }

  .cardHobby2Header{
    background-color: transparent;
  }

  li{
    background-color: transparent;
  }

  ul{
    background-color: transparent;
  }
  
  strong{
    background-color: transparent;
  }
  .experiencetext{
    background-color: transparent;
  }

  .techBreakdown{
    background-color: transparent;
  }

  .featureList{
    background-color: transparent;
  }

  .projectLinks{
    background-color: transparent;
  }

  .card1text{
    background-color: transparent;
  }

  .cardContactflex{
    background-color: transparent;
  }

  .contactEmailFlex {
    background-color: transparent;
  }
  
  .contactEmailIcon{
    background-color: transparent;
  }

  .cardContactText {
    background-color: transparent;
  }

  .contactPhoneFlex {
    background-color: transparent;
  }

  .contactPhoneIcon{
    background-color: transparent;
  }

  .btn-group{
    background-color: transparent !important;
  }

  .mobileNavText{
    font-family: 'Zen Dots', cursive;
    font-size: 25px;
    width: 100%;
    text-align: center;
    color: var(--primary-color) !important;
    background-color: #292b2c;

  }

  .mobileMenuButton{
    margin-top: 10px;
    margin-left: 10px;
   background-image: url("./assets/Images/iconfinder_triangle-bottom-solid_4113372\ \(1\)-min.png") !important;
   background-size: cover !important;
   color: transparent !important;
  }

  #bg-nested-dropdown{
    height:25px ;
    width: 25px;
    background-color: var(--tertiary-color);
    border: transparent;
   background-image: url("./assets/Images/iconfinder_triangle-bottom-solid_4113372\ \(1\)-min.png") !important;
   background-size: cover !important;
 
  }

  .dropdown-toggle:focus{
    box-shadow: none !important;
  }

  .dropdown-toggle::after {
    content: none !important;
}

  .dropdown-menu{
    background-color: #292b2c !important;
    width: 290px;
    margin-left: 0px;
  }

  .hobbiebuttonMobile{
    font-family: 'Zen Dots', cursive;
    width: 100%;
    background-color: var(--musicButton);
    color: var(--primary-color);
    font-weight: bold;
    font-size: 20px;
  }

  .buttonflex{
    background-color: transparent ;
  }

  .soundButtonMobile{
    background-color: var(--musicButton) !important;
    color: var(--primary-color) !important;
    border: none !important;
    margin-top: 10px;
  }

  .breakpoint__small-down{
    background-color: transparent;
  }

  .breakpoint__large-up{
    background-color: transparent;
  }

  .experienceicons1Mobile{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;
    width: 100%;
    height: 200px;
    margin-left: 10px;
    margin-top: 10px;
  }

/* Experience Section Mobile*/

.mobileIconFlex{
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
}

.iconCol1{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.htmlIconMobile{
  background-image: url("https://freeiconshop.com/wp-content/uploads/edd/html-flat.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.npmIconMobile{
  background-image: url("https://cdn1.iconfinder.com/data/icons/programing-development-8/24/npm_logo-256.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.nodeIconMobile{
  background-image: url("https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/node-256.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.reactIconMobile{
  background-image: url("https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-256.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.cssIconMobile{
  background-image: url("https://freeiconshop.com/wp-content/uploads/edd/css-flat.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.jqueryIconMobile{
  background-image: url("https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/jquery-256.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.databseIconMobile{
  background-image: url("https://cdn1.iconfinder.com/data/icons/ColoBrush_Pack/256/database.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.graphqlIconMobile{
  background-image: url("./assets/Images/graphql.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.graphqlIconMobile{
  background-image: url("./assets/Images/graphql.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.javascriptIconMobile{
  background-image: url("https://freeiconshop.com/wp-content/uploads/edd/js-flat.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.bootstrapIconMobile{
  background-image: url("https://cdn1.iconfinder.com/data/icons/flat-and-simple-part-1/128/bootstrap-256.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.apiIconMobile{
  background-image: url("./assets/Images/api.png");
  background-size: cover;
  height: 75px;
  width: 75px;
  margin: 20px;
  margin-right: 15px;
}

.pwaIconMobile{
  background-image: url("./assets/Images/PWA.png");
  background-size: cover;
  height: 60px;
  width: 70px;
  margin: 20px;
  margin-right: 30px;
}





/* End of background controler*/

  @media only screen and (min-width: 320px) {  
  
    .Name{
      font-family: 'Zen Dots', cursive;
      font-size: 25px;
      width: 100%;
      text-align: center;
      color: var(--primary-color);
      border-bottom: solid var(--primary-color);
      background-color: transparent;
    }



    .navtext{ 
      display: flex; 
      flex-direction: column;
      justify-content: center;
      margin-left: 10px;
      font-size: 20px;
      color: var( --primary-color);
      text-decoration: none !important;
      background-color: transparent;
    }

    .mypic{
      background-image: url("./assets/Images/me.jpg");
      background-size: cover;
      width: 200px;
      height: 200px;
      margin-top: 5%;
      margin-bottom: 5%;
      margin-left: 23%;
      border-radius: 100%;
    }

    .projectTitle{
      color: var(--primary-color);
      font-weight: bold;
      font-size: 30px;

      font-family: 'Zen Dots', cursive;
    }

    .experienceTitle {
      font-family: 'Zen Dots', cursive;
      font-size: 20px;
      font-weight: bold;

    }
    


  }

  @media only screen and (min-width: 2000px) {  

    /* about Section 2000px screen*/
  
  .aboutMeCardText {
      font-size: 30px;
      width: 100%;
  }
  
  .hobbiebutton {
    background-color: var(--tertiary-color);
    height: 50px;
    color: whitesmoke;
    margin-top: 5%;
    margin-left: 50%;
    border-radius: 6px;
    font-size: 30px;
    visibility: visible;
  }
  
  li {
    margin-left: 15px;
    font-size: 30px;
  }
  
  .soundButton {
    background-color: var(--musicButton) !important;
    border-color: var(--musicButton) !important;
    font-weight: bold !important;
    font-size: 25px;
    margin-bottom: 7px;
    height: 100%;
    width: 175px;
  }
  
  .btn{
    font-size: 30px !important;
  }
  
  .mypic {
    background-image: url("./assets/Images/me.jpg");
    background-size: cover;
    height: 600px;
    width: 600px;
    margin-top: 8%;
    margin-left: 4%;
    border-radius: 100%;
  }
  
  /* End of About Me Section for 2000px Screen */
  
  /* Nav Bar for 2000px Screen */
  
  .navbar {
      position: fixed !important;
      width: 100%;
      height: 80px;
      z-index: 1;
      color: var(--primary-color);
      display: flex;
      justify-content: flex-start !important;
      text-decoration: hidden !important;
  }
  
  .Name {
    font-family: 'Zen Dots', cursive;
    font-size: 50px;
    width: 275px;
  }
  
  .navtext {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-size: 30px;
    color: var( --primary-color);
    text-decoration: none !important;
  }
  
  /* Experience Section for 2000px screen */
  
  .xpicon2textflex{
    font-size: 20px;
  }
  
  .experienceicons2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 710px;
    height: 100px;
    margin-left: 306px;
    margin-top: 100px;
  }
  
  .xpicon3textflex {
    font-size: 20px;
  }
  
  .experiencetext {
    font-size: 30px;
    text-align: center;
    width: 900px;
    color: var(--primary-color);
  }
  
  /* End of Experience Page for 2000px */
  
  /* start of Resume page for 2000px */
  .UofUTitle {
    display: flex;
    flex-direction: row;
    font-size: 50px;
    margin-bottom: 25px;
  }
  
  .resumeTitle {
    margin: 15px;
    margin-top: 100px;
    font-size: 35px;
  }
  
  .UofUdiscription {
    margin-top: 25px;
    margin-bottom: 25px;
    width: 50%;
    font-size: 30px;
    margin-bottom: 25px;
  }
  
  .salesXp {
    width: 50%;
    font-size: 30px;
    margin-bottom: 25px;
  }
  
  .PDFoffer {
    font-size: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
  }
  
  
  }





@media only screen and (min-width: 1200px) {  


  b{
    background-color: var(--background);
  }

  a{
    text-decoration: none;
    color: var(--primary-color);
  }

  .navbar:hover{
    text-decoration: none !important;
    
  }


/* Controllers the vid and text layout */
.missionbannerflex{
  display: flex;
  justify-content: center;
  height: 600px;
 
}

/* Controls the dimensions of the Vid */
.vid1{
  position: fixed;
  z-index: -1;
  width: 100%;

}
/*Controls the text and name layout*/
.missionstatementflex{
  display: flex;
  opacity: 100%;
  color: white;
  z-index: 1;
  
}
/* Controls the way the name appears*/
.name{
  font-weight: bold;
  font-size: 40px;
  margin-bottom: 20px;
}
/* Controls the text on the vid */
.missionstatement{
  display: flex;
  height: 150px; /* height of vid */
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 500px;
  margin-bottom: 20px;
  font-size: 20px;
  margin-top: 25px;
}
/* Controls the navbar  */
.navbar{
  position: fixed !important; 
  width: 100%;
  height: 60px;
  z-index: 1; /* makes the nav bar  not overlap 2 makes it overlap*/
  color: var(--primary-color);
  display: flex;
  justify-content: flex-start !important;
  text-decoration: hidden !important;
}



.flexnav{
  display:flex;
  flex-direction: row;
  justify-content: flex-start;
  color: var(--primary-color);
  font-size: 12px;
  
}

.aboutmeflex{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin-left: 2px;
}

.navtext{ 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  font-size: 20px;
  color: var( --primary-color);
  text-decoration: none !important;
}

.navtext:hover{
  color: var(--secondary-color);
  text-decoration: none !important;
}

.navtextflex{
  display: flex;
  flex-direction: row;
  color: var(--primary-color);
}

.resume{ 
  display: flex; 
  flex-direction: column;
  justify-content: center;
  color: var( --primary-color);
}
/*flex for aboutme background */

.aboutmecontentflex{
  display: flex;
  flex-direction: column;
  background-color: var(--background);
   /*background-position: 90%;*/
  height: 100%;
  width: 100%;
  color: var(--primary-color)
}

.background{
  background-color: var(--background);
}

/*About Section */

/* governs my pic in the about me section*/
.mypic{
  background-image: url("./assets/Images/me.jpg");
  background-size: cover;
  height: 450px;
  width: 500px;
  margin-top: 5%;
  margin-left: 2%;
  border-radius: 100%;
}

.cardHobby{
  width: 50% !important;
  margin-top: 100px;
  margin-left: 7%;
}

.cardHobby2{
  width: 50% !important;
  margin-top: 0px !important;
}

.cardHobby3{
  width: 50% !important;
  margin-top: 0px !important;
  margin-right: 5% !important;
  
}

.cardHobby2Header{
font-size: 40px;
}


.aboutMeCardText{
  font-size: 20px;
  width: 100%;
}



/* text in the about me section*/
.aboutmetextflex{
  display: flex;
  color: var(--primary-color);
  font-size: 12px;
  margin: 0px;
}

.aboutmeText{
  height: 400px;
  width: 710px;
  margin-left: 200px;
  margin-top: 200px;
  font-size: 24px;
}

.buttonflex{
display: flex;
flex-direction: column;
}

.hobbiebutton{
  background-color: var(--tertiary-color);
  height:40px;
  color: whitesmoke;
  margin-top: 5%;
  margin-left: 50%;
  border-radius: 6px;
  font-size: 20px;
  visibility: visible;
}

.hobbiebutton:hover{
  color: var(--secondary-color);
  box-shadow: 0px 0px 10px 10px var(--secondary-color);
}


.hobbielisttext{
  margin: 0px;
  font-size: 40px;
  color: var(--primary-color)
}

.hobbies{
  display:flex;
  flex-direction: row;
  margin-left: 5%;

}

.soundButton{
  background-color: var(--musicButton) !important;
  border-color: var(--musicButton) !important;
  font-weight: bold !important;
  font-size: 15px !important;
  margin-bottom: 7px;
  height:37.53px;
  width: 82.83px;

}
.soundButton:hover{
  box-shadow: 0px 0px 10px 10px var(--musicButtonGlow) !important;
}


.btn:focus { /* this removes the outline on the focus on bootstrapbuttons*/
  outline: none !important;
  box-shadow: none !important;
}

.music{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 40px;
  color: var(--primary-color);
  margin-left: 30px;

}

.Name{
  font-family: 'Zen Dots', cursive;
  font-size: 30px;
  width: 275px;
  border-bottom: none;
}

/* End of About Section */

/*Flexbox for resume Section */
.resumeSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--background);
  color: var(--primary-color);
  height: 100%;  
}

/* main top text in resume section */
.resumeTitle{
  margin: 15px;
  margin-top: 100px;
  font-size: 25px;
}

.UofUMicroLogo{
  visibility: hidden;
  margin-right: 10px;
  border-radius: 100%;
  background-image: url("https://smartwatermagazine.com/sites/default/files/styles/thumbnail-80xxxx/public/university_of_utah_logo.jpg?itok=S1u-GBTM");
  background-size: cover;
  height: 50px;
  width: 50px;
}


.UofUTitle{
  display: flex;
  flex-direction: row;
  font-size: 40px;
  margin-bottom: 25px;
}

.UofUTitle:hover{
color: red;
}

.UofUflex{

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  font-size: 40px;
}

.UofUpic{
  height: 500px;
  width: 500px;
  background-image: url("./assets/Images/badge-coding-bootcamp-trilogy.png");
  background-size: cover;
}

.UofUQRCode{
  height: 500px;
  width: 500px;
  background-image: url("./assets/Images/frame.png");
  background-size: cover;
}

.UofUdiscription{
  margin-top: 25px;
  margin-bottom: 25px;
  width: 50%;
  font-size: 20px;
  margin-bottom: 25px

}

.sales{ 
  color: var(--primary-color);
 font-size: 40px;
  margin-top: 25px;
  margin-bottom: 25px;
}

.sales:hover{
  color: var(--secondary-color)
}

.salesXp{
  width: 50%;
  font-size: 20px;
  margin-bottom: 25px
}

.achievements{
  display: flex;
  flex-direction: row;

}

/* Experience Page */

.experienceflex{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: var(--background);
}

.experienceicons1{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 500px;
  height: 100px;
  margin-left: 300px;
  margin-top: 125px;

}

.experienceicons2{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 710px;
  height: 100px;
  margin-left: 300px;
  margin-top: 100px;


}
.experienceicons3{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  background-color:  var(--background);
  width: 940px;
  height: 100px;
  margin-left: 300px;
  margin-bottom: 25px;
  margin-top: 50px;
}

/* experience icons */



.experienceTitle{
  color: var(--primary-color);
  font-weight: bold;
  font-size: 25px;
  margin-left: 15px;
  margin-top: 25px;
  text-align: center;
  font-family: 'Zen Dots', cursive;
}

.xpicon{
  background-size: cover;
  height: 100px;
  width: 100px
}

.htmlicon{
  background-image: url("https://freeiconshop.com/wp-content/uploads/edd/html-flat.png");
}

.htmlicon:hover{
  animation: turn 4s infinite;
  animation-timing-function: linear;}

  @keyframes turn{
        
      100% {transform:rotatez(360deg) } }

.cssicon{
  background-image: url("https://freeiconshop.com/wp-content/uploads/edd/css-flat.png");

}
.cssicon:hover{
  animation: spin 4s infinite;
  animation-timing-function: linear;
}

@keyframes spin{
        
  100% {transform:rotatex(360deg) } }

.javascripticon{
  background-image: url("https://freeiconshop.com/wp-content/uploads/edd/js-flat.png");

}

.javascripticon:hover{
  animation: coin 4s infinite;
  animation-timing-function: linear;
}
@keyframes coin{
        
  100% {transform:rotatey(360deg) } }


.nodejsicon{
  background-image: url("https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/node-256.png");
}

.reacticon{
  background-image: url("https://cdn4.iconfinder.com/data/icons/logos-3/600/React.js_logo-256.png");
}

.databaseicon{
  background-image: url("https://cdn1.iconfinder.com/data/icons/ColoBrush_Pack/256/database.png");
}

.graphqlicon{
  background-image: url("./assets/Images/graphql.png");
}

.pwaicon{
  background-image: url("./assets/Images/PWA.png");
  background-size: cover;
  width: 120px;
}

.npmicon{
  background-image: url("https://cdn1.iconfinder.com/data/icons/programing-development-8/24/npm_logo-256.png");
}

.bootstrapicon{
  background-image: url("https://cdn1.iconfinder.com/data/icons/flat-and-simple-part-1/128/bootstrap-256.png");
}

.apiicon{
  background-image: url("./assets/Images/api.png");
}

.jqueryicon{
  background-image: url("https://cdn3.iconfinder.com/data/icons/popular-services-brands/512/jquery-256.png");
}

.Cicon{
  background-image: url("https://user-images.githubusercontent.com/42747200/46140125-da084900-c26d-11e8-8ea7-c45ae6306309.png");
  height: 112px;
}

.pythonicon{
background-image: url("https://cdn3.iconfinder.com/data/icons/logos-and-brands-adobe/512/267_Python-512.png");
}
.rubyicon{
  background-image: url("https://findicons.com/files/icons/2420/coded/512/page_ruby.png");
}

.xpicon2textflex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 670px;
  height: 100px;
  margin-left: 310px;
  margin-top: 10px;
  color: var(--primary-color);
  font-weight: bold;
}

.jquerytext{
  margin-right: 35px;
}

.Apitext{
  margin-left: 35px;
}


.xpicon3textflex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items:center;
  width: 900px;
  height: 100px;
  margin-left: 310px;
  margin-top: 10px;
  color: var(--primary-color);
  background-color: var(--background);
  font-weight: bold;
}

.databseicontext{
  margin-right: 25px;
}

.databaselist{
  color: var(--primary-color);
  margin-left:650px;
}


.exoeriencebackgroundflex{
background-color:  var(--background);
}


.cardExperience{
  width: 50% !important;
  margin-top: 5% !important;
  margin-left: 12% !important;
  
}

.expierencetextflex{
  display: flex;
  background-color:  var(--background);
}

.expierencetextflex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--background);
  width:100%;
  height: 100%;
  background-color: var(--background);

}

.databaseExHolder{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  margin-top: 5%;
  background-color: var(--background);
  color: var(--primary-color);
  height: 100%;  
}

.experienceDivHolder{
  display: flex;
  flex-direction: row;
  align-items: flex-start;

}

.experiencetext{
  font-size: 25px;
  text-align: center;
  width: 900px;
  color: var(--primary-color);

}

.experiencetext2{
  font-size: 25px;
  display: flex;
  width: 900px;
  margin-top: 60px;
  margin-bottom: 60px;
  margin-right: 20%;
  color: var(--primary-color);
}

.experiencetext2:hover{
color: var(--secondary-color);
}

.techBreakdown{
display: flex;
flex-direction: row;
color: var(--primary-color);
margin-left: 20%;

}


/* End of Experience page */



/* the line that lets you download the resume*/
.PDFoffer{
  font-size: 25px;
  margin-bottom: 20px;
  margin-left: 15px;
}

/* this controls the position of the icons*/
.iconflex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* controls the list items on the resume section*/
li{
  margin-left: 15px;
  font-size: 25px;
/*controls the main List names margin*/
}

ul{
  margin:0px;
}


.databaseicon{
  background-image: url("https://cdn1.iconfinder.com/data/icons/ColoBrush_Pack/256/database.png");
  background-size: cover;
  height: 75px;
  width: 75px;
}

.databasetext{
  margin-left: 30px;
  font-size: 25px;
  
}

.backend{
  margin-top: 0px;
}

.contactflex{
  display:flex; 
  flex-direction: column;
  justify-content: center;
  background-color: var(--background);
  height: 100%;
  width: 100%;
  color: var(--primary-color);
  
}

.contactcenter{
flex-direction: column;
justify-content: center;
text-align: center;

}

/* this gives margins to most of the text elements in the resume section */
.texttoleft{
width: 100%;
}

/* Project Section 1200px */

.ProjectBackground{
  display:flex;
  flex-direction: column;
  align-items: center;
}

.Projectbox{ /*this controls the view of all projects*/
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  height: 100%;
  width: 100%;
  color: black; 
  text-align: center;
  background-color: var(--background);
}

.projectIntro{
  font-size: 25px;
  color: var(--primary-color);
}

.projectIntro2{
  margin-top:  25px;
  font-size: 25px;
  color: var(--primary-color);

}

.buttonContainer{
  margin-top: 40px;
}

.projectButtons{
  border: inherit;
  margin-right: 20px;
  font-family: 'Zen Dots', cursive;
}

.projectButtons:hover{
  box-shadow: 0px 0px 10px 10px var(--secondary-color) !important; 
}

.pane{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 90%;
  height: 90%;
  margin-top: 1%;
  background-color: var(--background);
}

.paneBody{
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  width: 90%;
  height: 90%;
  background-color: var(--background);
}

.card{
  height: 90%;
  width:90%;
  margin-top: 100px;
}


.cardflex{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.featureList{
  text-align: center;
  width: 100%;
}

.features{
font-size: 35px;
}

.featureItem{
  width: 50%;
margin-left: 40%;
font-size: 20px;
}

.featureItem2{ /*this format is for the fullstack elemetns */
  width: 70%;
margin-left: 40%;
font-size: 20px;
}

.ProjectWindowPortfolio{
  margin-left: 100px;
  height: 300px;
  width: 100%;
  background-image: url("./assets/Images/Graphic\ Design\ Portfolio\ Mockup-min.jpg");
  background-size: cover;
}

.projectTitle{
  color: var(--primary-color);
  font-weight: bold;
  font-size: 55px;
  margin-left: 15px;
  margin-top: 25px;
  text-align: center;
  font-family: 'Zen Dots', cursive;
}

.ProjectTitleLink{
  color: var(--primary-color) !important;
  text-decoration: none !important;
}

.ProjectTitleLink:hover{
  color: var(--secondary-color) !important;
  text-decoration: none !important;
}

.ProjectWindowLeftovers{
  margin-left: 100px;
  height: 300px;
  width: 100%;
  background-image: url("./assets/Images/Leftovers\ Mockup-min.jpg");
  background-size: cover;
}


.ProjectWindowTaskMaster{
  margin-left: 100px;
  height: 300px;
  width: 100%;
  background-image: url("./assets/Images/Taskmaster\ Mockup-min.jpg");
  background-size: cover;
}

.ProjectWindowRunbuddy{
  margin-left: 100px;
  height: 300px;
  width: 100%;
  background-image: url("./assets/Images/Run\ Buddy\ Mockup-min.jpg");
  background-size: cover;
}

.ProjectWindowWorkScheduler{
  margin-left: 100px;
  height: 300px;
  width: 100%;
  background-image: url("./assets/Images/Work\ Day\ Scheduler\ Mockup-min.jpg");
  background-size: cover;
}

.ProjectWindowReadViews{
  margin-left: 100px;
  height: 300px;
  width: 100%;
  background-image: url("./assets/Images/Readviews\ Mockup-min.jpg");
  background-size: cover;
}


.ProjectWindowTechBook{
  margin-left: 100px;
  height: 300px;
  width: 100%;
  background-image: url("./assets/Images/TechBook\ Mockup-min.jpg");
  background-size: cover;
}

.ProjectWindowBoostMe{
  margin-left: 100px;
  height: 300px;
  width: 100%;
  background-image: url("./assets/Images/Boostme\ Mockup-min.jpg");
  background-size: cover;
}

.ProjectWindow:hover{
  box-shadow: 0px 0px 15px 15px var(--secondary-color);
}


.Projectwindow1{
  margin-right: 200px;
  height: 300px;
  width: 100%;
  border: solid white;
}

.card1text{
  font-size: 20px;
  width: 100%;
  margin-left: 5%;
}



.projectLinks{
  margin-top: 25px;
  margin-left: 33%;
  font-size: 15px;
}


.facebookicon{
  background-image: url("https://cdn2.iconfinder.com/data/icons/2018-social-media-app-logos/1000/2018_social_media_popular_app_logo_facebook-256.png");
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-top: 100px;
  margin-bottom: 20px;
  
}

.linkedinicon{
  background-image: url("https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-256.png");
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.githubicon{
  background-image: url("https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/github-square-social-media-256.png");
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 10px;
}


.contactback{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding-top: 5%;
  background-color: var(--background);

}

.contactFlex{
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.chatIcon{
  width: 200px;
  height: 200px;
  margin-right: 20px;
  background-image: url("../src/assets/Images/iconfinder_sms_message-min.png");
  background-size: cover;
}

.contactTitle{
  margin-top: 20%;
  background-color: var(--background);
  color: var(--primary-color);
  font-size: 60px;
  font-weight: bold;
  font-family: 'Zen Dots', cursive;
}

.contactText{
  background-color: var(--background);
  margin-top: 3%;
  width: 50%;
  color: var(--primary-color);
  font-size: 35px;
  text-align: center;
  margin-bottom: 15px;;
}

.cardContact{
  height: 50%;
  width:50%;
  margin-top: 3%;
}

.cardContactText{
  margin-top: 4.5%;
  width: 50%;
  color: var(--primary-color);
  font-size: 35px;
  margin-left: 20px;
  text-align: left;
  font-weight: bold;
}


.cardContactflex{
  display: flex;
  flex-direction: column;
}

.contactEmailFlex{
  display: flex;
  flex-direction: row;
}

.contactEmailIcon{
  height: 100px;
  width: 100px;
  background-image: url("./assets/Images/iconfinder_email_1110063-min.png");
  background-size: cover;
}

.contactPhoneFlex{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-bottom: 3%;
}

.contactPhoneIcon{
  height: 100px;
  width: 100px;
  background-image: url("./assets/Images/iconfinder_phone_1110052-min.png");
  background-size: cover;
}

.footerflex{
  background-color:  var(--background);
  display: flex;
  flex-direction: row;
  padding-left: 50%;
  height: 339px;


}

.facebookicon{
  background-image: url("https://cdn2.iconfinder.com/data/icons/2018-social-media-app-logos/1000/2018_social_media_popular_app_logo_facebook-256.png");
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-top: 100px;
  margin-bottom: 20px;
  
}

.linkedinicon{
  background-image: url("https://cdn1.iconfinder.com/data/icons/logotypes/32/square-linkedin-256.png");
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-left: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.githubicon{
  background-image: url("https://cdn4.iconfinder.com/data/icons/liu-square-blac/60/github-square-social-media-256.png");
  background-size: cover;
  height: 60px;
  width: 60px;
  margin-top: 100px;
  margin-bottom: 20px;
  margin-left: 10px;
}

.facebookicon:hover{

  

box-shadow: 0px 0px 5px 5px var( --secondary-color);

/*box-shadow:5px 2px 2px 2px #0ff; */
}

.linkedinicon:hover{

box-shadow: 0px 0px 5px 5px var( --secondary-color);
}

.githubicon:hover{

box-shadow: 0px 0px 5px 5px var( --secondary-color);
}

.findme{
color: var(--primary-color);
text-align: center;
}

}
